Repository dusk-network/rusk, pull requests merged in 2022-02, with the labels that each got.

#508 Update for node integration
  rusk-profile/src/lib.rs
  rusk-recovery/Makefile
  rusk-recovery/src/state.rs
Labels: mark:testnet

#510 Achieve reproducible build for contracts
  contracts/stake/Makefile
  contracts/transfer/Makefile
  rusk-recovery/src/state.rs
Labels: area:conf&build, type:feature, team:Core, mark:testnet

#513 wallet: Add offline mode and improve overall UX
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/src/lib/crypto.rs
  rusk-wallet/src/lib/error.rs
  rusk-wallet/src/lib/mod.rs
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/lib/wallet.rs
  rusk-wallet/src/main.rs
Labels: area:wallet, mark:testnet, module:rusk-wallet

#516 Fix tx encoding before Network propagation
  rusk/src/lib/services/network.rs
Labels: fix:bug, mark:testnet

#522 transfer-contract: add `find_existing_nullifiers` to transfer contract
  contracts/transfer/src/transfer.rs
Labels: module:transfer-contract, mark:testnet

#527 rusk: Fix transaction encoding over the network
  rusk/src/lib/services/network.rs
  rusk/tests/services/transactions.rs
Labels: mark:testnet

#521 Add gas_spent to ExecutedTransaction grpc message
  rusk/src/lib/encoding.rs
  rusk/src/lib/services/state.rs
  schema/transaction.proto
Labels: mark:testnet

#530 E2E Rusk test
  contracts/transfer/Cargo.toml
  contracts/transfer/src/transfer.rs
  rusk-abi/Cargo.toml
  rusk-abi/tests/lib.rs
  rusk-recovery/Cargo.toml
  rusk-recovery/src/state.rs
  rusk/Cargo.toml
  rusk/src/lib/error.rs
  rusk/src/lib/lib.rs
  rusk/src/lib/services/state.rs
  rusk/src/lib/state.rs
  rusk/tests/common/mod.rs
  rusk/tests/rusk-state.rs
  rusk/tests/services/prover_service.rs
  rusk/tests/services/state_service.rs
  rusk/tests/services/transactions.rs
  schema/state.proto
  test-utils/transfer-wrapper/Cargo.toml
  test-utils/transfer-wrapper/src/wrapper.rs
Labels: mark:testnet

#525 wallet: Release 0.2
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/README.md
  rusk-wallet/src/lib/crypto.rs
  rusk-wallet/src/lib/error.rs
  rusk-wallet/src/lib/store.rs
  rusk-wallet/src/main.rs
Labels: area:wallet, team:Core, mark:testnet, module:rusk-wallet

#537 Include ExecutedTransactions in the Accept/Finalize response
  schema/state.proto
Labels: mark:testnet

#532 wallet: Update to wallet-core 0.9
  rusk-wallet/Cargo.toml
  rusk-wallet/src/lib/clients.rs
Labels: mark:testnet, module:rusk-wallet

#543 wallet: change default gas price to 0.001 Dusk
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/src/lib/mod.rs
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/lib/wallet.rs
  rusk-wallet/src/main.rs
Labels: fix:bug, mark:testnet, module:rusk-wallet

#548 wallet: fix denominations and ask for gas price
  rusk-wallet/src/lib/mod.rs
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/lib/wallet.rs
Labels: area:wallet, fix:bug, team:Core, module:rusk-wallet

#542 recovery: add forcing the state to build/download
  .github/workflows/dusk_ci.yml
  rusk-recovery/Cargo.toml
  rusk-recovery/src/bin/state.rs
  rusk-recovery/src/state.rs
Labels: fix:regression, mark:testnet, module:rusk-recovery

#541 rusk: reduce number of coinbase transactions to 1
  rusk/src/lib/services/state.rs
  rusk/tests/services/transactions.rs
Labels: type:rfc, type:enhancement, team:Core, module:rusk, mark:testnet

#553 wallet: Release 0.2.2
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/lib/wallet.rs
  rusk-wallet/src/main.rs
Labels: area:wallet, fix:bug, team:Core, mark:testnet, module:rusk-wallet

#559 Change ExecuteProverResponse to contain the proof
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/src/lib/clients.rs
  rusk-wallet/src/lib/wallet.rs
  rusk/Cargo.toml
  rusk/src/lib/services/prover/execute.rs
  rusk/tests/services/prover_service.rs
  rusk/tests/services/transactions.rs
  schema/prover.proto
Labels: area:wallet, type:enhancement, team:Core, module:rusk, module:rusk-wallet

#562 Check the validity of wallet input
  contracts/transfer/src/wasm/internal.rs
  rusk-wallet/src/lib/mod.rs
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/lib/wallet.rs
Labels: module:rusk-wallet

#568 wallet: clarify input Dusk unit for all commands
  rusk-wallet/src/lib/clients.rs
  rusk-wallet/src/main.rs
Labels: mark:testnet, module:rusk-wallet

#570 wallet: Release `0.2.4`
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/README.md
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/main.rs
Labels: mark:testnet, module:rusk-wallet

#576 Change stake contract to new specification
  contracts/stake/Cargo.toml
  contracts/stake/src/contract.rs
  contracts/stake/src/contract/transaction.rs
  contracts/stake/src/error.rs
  contracts/stake/src/lib.rs
  contracts/stake/src/stake.rs
  contracts/stake/src/wasm.rs
  contracts/stake/src/wasm/bridge.rs
  contracts/stake/tests/stake.rs
  rusk-recovery/Cargo.toml
  rusk-recovery/src/state.rs
  rusk-wallet/Cargo.toml
  rusk-wallet/src/lib/clients.rs
  rusk/src/lib/services/state.rs
  rusk/tests/services/state_service.rs
  rusk/tests/services/transactions.rs
  schema/stake.proto
  schema/state.proto
Labels: fix:bug, team:Core, module:stake-contract

#578 Add working stake test
  rusk-recovery/Cargo.toml
  rusk-wallet/Cargo.toml
  rusk-wallet/src/lib/clients.rs
  rusk/Cargo.toml
  rusk/src/bin/config.rs
  rusk/src/bin/config/grpc.rs
  rusk/src/bin/config/kadcast.rs
  rusk/src/bin/config/wallet.rs
  rusk/src/bin/main.rs
  rusk/tests/services/mod.rs
  rusk/tests/services/prover_service.rs
  rusk/tests/services/stake.rs
  rusk/tests/services/transfer.rs
Labels: fix:bug, team:Core, module:stake-contract, module:rusk

#580 Persist on demand rather than automatically
  rusk/Cargo.toml
  rusk/src/lib/services/state.rs
  schema/state.proto
Labels: area:architecture, type:enhancement

#581 Fix persist to fail when root is different
  rusk/src/lib/services/state.rs
Labels: fix:bug

#577 Wallet: Enhance `export` command
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/README.md
  rusk-wallet/src/lib/store.rs
  rusk-wallet/src/lib/wallet.rs
  rusk-wallet/src/main.rs
Labels: module:rusk-wallet

#583 Change denomination to nDusk
  contracts/stake/Cargo.toml
  contracts/stake/src/lib.rs
  contracts/stake/tests/stake.rs
  contracts/transfer/src/wasm/internal.rs
  rusk-abi/Cargo.toml
  rusk-abi/src/dusk.rs
  rusk-abi/src/lib.rs
  rusk-recovery/Cargo.toml
  rusk-recovery/src/state.rs
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/src/lib/mod.rs
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/lib/wallet.rs
  rusk/src/lib/state.rs
  rusk/tests/services/stake.rs
Labels: area:wallet, type:enhancement, team:Core

#587 Add building testnet state
  .gitattributes
  rusk-recovery/Cargo.toml
  rusk-recovery/faucet.psk
  rusk-recovery/src/bin/state.rs
  rusk-recovery/src/state.rs
  rusk/tests/rusk-state.rs
  rusk/tests/services/stake.rs
  rusk/tests/services/state_service.rs
  rusk/tests/services/transfer.rs
Labels: mark:testnet, module:rusk-recovery

#586 rusk-wallet: refactor `check_valid_denom` to reduce the conditions
  rusk-wallet/src/lib/prompt.rs
Labels: type:tech-debt

#594 rusk: fix coinbase value calculation
  rusk/src/lib/services/state.rs
  rusk/src/lib/state.rs
Labels: fix:bug, team:Core

#593 rusk: add TX filter on block gas limit
  rusk/src/lib/services/state.rs
Labels: team:Core, module:rusk

#590 wallet: fix interactive wallet selection
  rusk-wallet/src/lib/store.rs
  rusk-wallet/src/main.rs
Labels: fix:bug, module:rusk-wallet

#601 rusk: refactor and correct state transition logic
  rusk/src/lib/services/state.rs
Labels: team:Core, module:rusk
