Repository dusk-network/rusk, pull requests merged in 2022-03, with the labels that each got.

#607 rusk-wallet: UX improvements in the wallet CLI
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/src/lib/clients.rs
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/lib/wallet.rs
  rusk-wallet/src/main.rs
Labels: mark:testnet, module:rusk-wallet

#616 rusk-wallet: Add configuration item to specify the prover URL
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/README.md
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/main.rs
Labels: type:feature, module:rusk-wallet

#621 rusk-wallet: Add Get Stake command
  rusk-wallet/CHANGELOG.md
  rusk-wallet/README.md
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/lib/wallet.rs
  rusk-wallet/src/main.rs
Labels: module:rusk-wallet

#615 rusk: fix high gas limit TXs taking longer
  rusk/src/lib/services/state.rs
  rusk/src/lib/state.rs
  rusk/tests/services/mod.rs
  rusk/tests/services/multi_transfer.rs
Labels: type:enhancement, module:rusk

#626 rusk-wallet: auto derive version from Cargo.toml
  rusk-wallet/src/main.rs
Labels: module:rusk-wallet

#628 rusk-wallet: preverify before proof and propagate
  rusk-wallet/src/lib/clients.rs
  rusk-wallet/src/main.rs
Labels: mark:testnet, module:rusk-wallet

#632 rusk-wallet: Better error mgmt, path handling and UX
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/src/lib/clients.rs
  rusk-wallet/src/lib/crypto.rs
  rusk-wallet/src/lib/error.rs
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/lib/store.rs
  rusk-wallet/src/lib/wallet.rs
  rusk-wallet/src/main.rs
Labels: module:rusk-wallet

#638 Upgrade `dusk-wallet-core` to latest version
  rusk-wallet/Cargo.toml
  rusk-wallet/src/lib/wallet.rs
  rusk/Cargo.toml
  rusk/tests/services/multi_transfer.rs
  rusk/tests/services/transfer.rs
Labels: area:wallet, team:Core, module:rusk-wallet

#641 rusk-wallet: settings can be loaded from a config file
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/README.md
  rusk-wallet/config.toml
  rusk-wallet/src/lib/config.rs
  rusk-wallet/src/lib/error.rs
  rusk-wallet/src/lib/mod.rs
  rusk-wallet/src/lib/store.rs
  rusk-wallet/src/lib/wallet.rs
  rusk-wallet/src/main.rs
Labels: module:rusk-wallet

#644 rusk-wallet: Release prep UX changes
  rusk-wallet/Makefile
  rusk-wallet/README.md
  rusk-wallet/src/lib/error.rs
  rusk-wallet/src/lib/mod.rs
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/lib/wallet.rs
  rusk-wallet/src/main.rs
  rust-toolchain
Labels: module:rusk-wallet

#640 transfer-circuits: Improve documentation
  circuits/transfer/doc/dusk-genesis-circuits.pdf
Labels: type:docs

#658 Enable overflow checks
  Cargo.toml
Labels: team:Core

#657 rusk-wallet: major refactor in path handling and user flow
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/README.md
  rusk-wallet/config.toml
  rusk-wallet/src/lib/config.rs
  rusk-wallet/src/lib/error.rs
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/lib/store.rs
  rusk-wallet/src/main.rs
Labels: module:rusk-wallet

#663 wallet: Prevent users not running a local rusk instance from staking
  rusk-wallet/src/lib/error.rs
  rusk-wallet/src/lib/wallet.rs
Labels: module:rusk-wallet

#664 rusk-wallet: Implement `fetch_block_height` for State client
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/src/lib/clients.rs
  rusk-wallet/src/lib/config.rs
  rusk-wallet/src/lib/error.rs
  rusk-wallet/src/main.rs
Labels: module:rusk-wallet

#671 wallet: Invalid config shouldnt fallback
  rusk-wallet/CHANGELOG.md
  rusk-wallet/README.md
  rusk-wallet/config.toml
  rusk-wallet/src/lib/config.rs
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/main.rs
Labels: team:Core

#683 wallet: Add option to wait for transaction confirmation
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/src/lib/clients.rs
  rusk-wallet/src/lib/config.rs
  rusk-wallet/src/lib/error.rs
  rusk-wallet/src/lib/gql.rs
  rusk-wallet/src/lib/mod.rs
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/main.rs
Labels: module:rusk-wallet
