Repository dusk-network/rusk, pull requests merged in 2022-04, with the labels that each got.

#688 remove `rusk-wallet` from workspace
  Cargo.toml
  rusk-wallet/CHANGELOG.md
  rusk-wallet/Cargo.toml
  rusk-wallet/LICENSE
  rusk-wallet/Makefile
  rusk-wallet/README.md
  rusk-wallet/build.rs
  rusk-wallet/config.toml
  rusk-wallet/src/lib/cache.rs
  rusk-wallet/src/lib/clients.rs
  rusk-wallet/src/lib/config.rs
  rusk-wallet/src/lib/crypto.rs
  rusk-wallet/src/lib/error.rs
  rusk-wallet/src/lib/gql.rs
  rusk-wallet/src/lib/mod.rs
  rusk-wallet/src/lib/prompt.rs
  rusk-wallet/src/lib/store.rs
  rusk-wallet/src/lib/wallet.rs
  rusk-wallet/src/main.rs
Labels: module:rusk-wallet

#682 rusk: Fill the txhash while propagating
  rusk/src/lib/services/network.rs
Labels: area:p2p, mark:testnet

#689 Transform `schema` in a rust library
  Cargo.toml
  rusk-schema/Cargo.toml
  rusk-schema/LICENSE
  rusk-schema/README.md
  rusk-schema/build.rs
  rusk-schema/protos/echo.proto
  rusk-schema/protos/keys.proto
  rusk-schema/protos/network.proto
  rusk-schema/protos/prover.proto
  rusk-schema/protos/provisioner.proto
  rusk-schema/protos/reward.proto
  rusk-schema/protos/stake.proto
  rusk-schema/protos/state.proto
  rusk-schema/protos/transaction.proto
  rusk-schema/protos/transfer.proto
  rusk-schema/src/lib.rs
  rusk/Cargo.toml
  rusk/build.rs
  rusk/src/lib/encoding.rs
  rusk/src/lib/services.rs
  rusk/src/lib/services/network.rs
  rusk/src/lib/services/pki.rs
  rusk/src/lib/services/pki/keygen.rs
  rusk/src/lib/services/pki/stealth_gen.rs
  rusk/src/lib/services/prover.rs
  rusk/src/lib/services/state.rs
  rusk/tests/services/multi_transfer.rs
  rusk/tests/services/pki_service.rs
  rusk/tests/services/prover_service.rs
  rusk/tests/services/stake.rs
  rusk/tests/services/state_service.rs
  rusk/tests/services/transfer.rs
Labels: module:rusk-schema

#698 Change to mint to the stake contract
  contracts/stake/Cargo.toml
  contracts/stake/src/contract.rs
  contracts/stake/src/contract/transaction.rs
  contracts/stake/src/error.rs
  contracts/stake/src/lib.rs
  contracts/stake/src/stake.rs
  contracts/stake/src/wasm.rs
  contracts/stake/src/wasm/bridge.rs
  contracts/stake/tests/stake.rs
  contracts/transfer/Cargo.toml
  contracts/transfer/src/transfer.rs
  contracts/transfer/src/transfer/call.rs
  contracts/transfer/src/transfer/host.rs
  contracts/transfer/src/wasm/callable.rs
  contracts/transfer/src/wasm/internal.rs
  rusk-recovery/Cargo.toml
  rusk-recovery/dusk.cpk
  rusk-recovery/dusk.psk
  rusk-recovery/src/provisioners.rs
  rusk-recovery/src/state.rs
  rusk-schema/protos/stake.proto
  rusk-schema/protos/state.proto
  rusk/Cargo.toml
  rusk/src/bin/config/wallet.rs
  rusk/src/bin/main.rs
  rusk/src/lib/encoding.rs
  rusk/src/lib/error.rs
  rusk/src/lib/lib.rs
  rusk/src/lib/services.rs
  rusk/src/lib/services/network.rs
  rusk/src/lib/services/pki.rs
  rusk/src/lib/services/pki/keygen.rs
  rusk/src/lib/services/pki/stealth_gen.rs
  rusk/src/lib/services/state.rs
  rusk/src/lib/state.rs
  rusk/src/lib/transaction.rs
  rusk/tests/services/mod.rs
  rusk/tests/services/multi_transfer.rs
  rusk/tests/services/pki_service.rs
  rusk/tests/services/prover_service.rs
  rusk/tests/services/stake.rs
  rusk/tests/services/state_service.rs
  rusk/tests/services/transfer.rs
  test-utils/transfer-wrapper/Cargo.toml
  test-utils/transfer-wrapper/src/wrapper.rs
Labels: type:feature, team:Core, module:transfer-contract, module:stake-contract, module:reward-contract

#705 Add check for repeated nullifiers
  rusk-schema/CHANGELOG.md
  rusk-schema/Cargo.toml
  rusk-schema/protos/state.proto
  rusk/src/lib/services/state.rs
Labels: fix:vulnerability, team:Core, module:rusk
