Repository dusk-network/rusk, pull requests merged in 2023-12, with the labels that each got.

#1166 Refactor committee
  consensus/example/consensus_service.rs
  consensus/example/main.rs
  consensus/src/aggregator.rs
  consensus/src/commons.rs
  consensus/src/consensus.rs
  consensus/src/firststep/step.rs
  consensus/src/phase.rs
  consensus/src/secondstep/step.rs
  consensus/src/user/committee.rs
  consensus/src/user/provisioners.rs
  consensus/src/user/stake.rs
  consensus/tests/sortition.rs
  node/benches/accept.rs
  node/src/chain/acceptor.rs
  node/src/chain/fallback.rs
  rusk/src/lib/vm.rs
Labels: module:consensus

#1125 Remove fixed fee
  contracts/stake/src/lib.rs
  contracts/stake/tests/stake.rs
  contracts/transfer/src/lib.rs
  contracts/transfer/src/state.rs
  contracts/transfer/tests/transfer.rs
  rusk/src/lib/lib.rs
  rusk/tests/services/gas_behavior.rs
  rusk/tests/services/multi_transfer.rs
  rusk/tests/services/unspendable.rs
Labels: fix:bug, team:Core, module:transfer-contract, module:stake-contract, module:rusk

#1190 Compile transfer contract to `wasm64-unknown-unknown`
  Makefile
  contracts/alice/Makefile
  contracts/bob/Makefile
  contracts/governance/Makefile
  contracts/license/Makefile
  contracts/stake/Makefile
  contracts/stake/tests/stake.rs
  contracts/transfer/Makefile
  contracts/transfer/tests/transfer.rs
  rusk-abi/tests/contracts/host_fn/Makefile
  rusk-recovery/src/state.rs
  scripts/setup-compiler.sh
Labels: team:Core, module:transfer-contract, module:rusk-recovery

#1195 Upgrade to `piecrust-uplink@0.9.0-rc`
  contract-helpers/src/lib.rs
  contracts/governance/src/state.rs
  contracts/stake/tests/stake.rs
  contracts/transfer/src/state.rs
  contracts/transfer/tests/transfer.rs
  rusk-abi/Cargo.toml
  rusk-abi/src/types.rs
  rusk-abi/tests/contracts/host_fn/src/lib.rs
  rusk/src/lib/lib.rs
  rusk/tests/services/stake.rs
Labels: team:Core

#1198 Exclude block generator from voting committee
  consensus/src/aggregator.rs
  consensus/src/commons.rs
  consensus/src/execution_ctx.rs
  consensus/src/phase.rs
  consensus/src/proposal/block_generator.rs
  consensus/src/proposal/step.rs
  consensus/src/quorum/task.rs
  consensus/src/quorum/verifiers.rs
  consensus/src/ratification/step.rs
  consensus/src/user/committee.rs
  consensus/src/user/provisioners.rs
  consensus/src/user/sortition.rs
  consensus/src/validation/step.rs
  consensus/tests/sortition.rs
  node-data/src/bls.rs
  node-data/src/message.rs
  node/benches/accept.rs
  node/src/chain/acceptor.rs
  node/src/chain/consensus.rs
  node/src/database/rocksdb.rs
  node/src/vm.rs
  rusk/src/lib/vm.rs
  rusk/tests/common/state.rs
Labels: module:consensus

#1210 consensus: remove `Committee::am_member()`
  consensus/src/aggregator.rs
  consensus/src/execution_ctx.rs
  consensus/src/phase.rs
  consensus/src/proposal/step.rs
  consensus/src/quorum/task.rs
  consensus/src/ratification/step.rs
  consensus/src/user/committee.rs
  consensus/src/user/provisioners.rs
  consensus/src/validation/step.rs
  consensus/tests/sortition.rs
  node/benches/accept.rs
  node/src/chain/acceptor.rs
Labels: type:tech-debt, module:consensus
