Repository dusk-network/rusk, pull requests merged in 2023-07, with the labels that each got.

#936 Fix multi-transaction block's acceptance
  consensus/src/contract_state.rs
  consensus/src/selection/block_generator.rs
  node-data/src/encoding.rs
  node-data/src/ledger.rs
  node/Cargo.toml
  node/src/chain/acceptor.rs
  node/src/chain/consensus.rs
  node/src/chain/fsm.rs
  node/src/database.rs
  node/src/database/rocksdb.rs
  node/src/vm.rs
  rusk/src/lib/lib.rs
  rusk/src/lib/transaction.rs
  rusk/src/lib/vm.rs
Labels: module:consensus, module:node, module:node-date

#953 consensus: Call VST once per a candidate block when this provisioner is extracted for both reductions
  consensus/src/commons.rs
  consensus/src/consensus.rs
  consensus/src/execution_ctx.rs
  consensus/src/firststep/step.rs
  consensus/src/secondstep/step.rs
Labels: module:consensus

#941 Introduce fallback procedure
  node/src/chain.rs
  node/src/chain/acceptor.rs
  node/src/chain/fallback.rs
  node/src/chain/fsm.rs
  node/src/database.rs
  node/src/database/rocksdb.rs
  node/src/vm.rs
  rusk/src/lib/vm.rs
Labels: module:node
