Repository dusk-network/rusk, pull requests merged in 2024-03, with the labels that each got.

#1366 web-wallet: Add possibility to serve the web wallet from a sub folder
  web-wallet/CHANGELOG.md
  web-wallet/README.md
  web-wallet/src/lib/components/AppAnchor/AppAnchor.svelte
  web-wallet/src/lib/components/AppAnchorButton/AppAnchorButton.svelte
  web-wallet/src/lib/components/ExistingWalletNotice/ExistingWalletNotice.svelte
  web-wallet/src/lib/components/OperationResult/OperationResult.svelte
  web-wallet/src/lib/components/Send/Send.svelte
  web-wallet/src/lib/components/Stake/Stake.svelte
  web-wallet/src/lib/components/Transactions/Transactions.svelte
  web-wallet/src/lib/components/__tests__/AppAnchor.spec.js
  web-wallet/src/lib/components/__tests__/AppAnchorButton.spec.js
  web-wallet/src/lib/components/__tests__/Transactions.spec.js
  web-wallet/src/lib/components/__tests__/__snapshots__/AppAnchor.spec.js.snap
  web-wallet/src/lib/components/__tests__/__snapshots__/AppAnchorButton.spec.js.snap
  web-wallet/src/lib/components/__tests__/__snapshots__/OperationResult.spec.js.snap
  web-wallet/src/lib/components/__tests__/__snapshots__/Stake.spec.js.snap
  web-wallet/src/lib/components/__tests__/__snapshots__/Transactions.spec.js.snap
  web-wallet/src/lib/components/index.js
  web-wallet/src/lib/dusk/components/Wizard/WizardStep.svelte
  web-wallet/src/lib/navigation/__tests__/addBasePath.spec.js
  web-wallet/src/lib/navigation/__tests__/goto.spec.js
  web-wallet/src/lib/navigation/__tests__/logout.spec.js
  web-wallet/src/lib/navigation/__tests__/redirect.spec.js
  web-wallet/src/lib/navigation/addBasePath.js
  web-wallet/src/lib/navigation/goto.js
  web-wallet/src/lib/navigation/index.js
  web-wallet/src/lib/navigation/logout.js
  web-wallet/src/lib/navigation/redirect.js
  web-wallet/src/routes/(app)/+layout.js
  web-wallet/src/routes/(app)/__tests__/layout.spec.js
  web-wallet/src/routes/(app)/dashboard/+layout.svelte
  web-wallet/src/routes/(app)/dashboard/__tests__/__snapshots__/layout.spec.js.snap
  web-wallet/src/routes/(app)/dashboard/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(app)/dashboard/transactions/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(app)/settings/+page.svelte
  web-wallet/src/routes/(app)/settings/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(welcome)/forced-logout/+page.svelte
  web-wallet/src/routes/(welcome)/forced-logout/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(welcome)/login/+page.svelte
  web-wallet/src/routes/(welcome)/login/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(welcome)/login/__tests__/page.spec.js
  web-wallet/src/routes/(welcome)/setup/+page.svelte
  web-wallet/src/routes/(welcome)/setup/TermsOfService.svelte
  web-wallet/src/routes/(welcome)/setup/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(welcome)/setup/create/+page.svelte
  web-wallet/src/routes/(welcome)/setup/create/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(welcome)/setup/create/__tests__/page.spec.js
  web-wallet/src/routes/(welcome)/setup/restore/+page.svelte
  web-wallet/src/routes/(welcome)/setup/restore/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(welcome)/setup/restore/__tests__/page.spec.js
  web-wallet/src/routes/+page.js
  web-wallet/src/routes/__tests__/page.spec.js
  web-wallet/svelte.config.js
  web-wallet/vite-setup.js
Labels: module:web-wallet

#1484 web-wallet: refactor test store mocks
  web-wallet/CHANGELOG.md
  web-wallet/src/lib/dusk/components/__mocks__/mockedMnemonicStore.js
  web-wallet/src/lib/dusk/test-helpers/index.js
  web-wallet/src/lib/dusk/test-helpers/mockDerivedStore.js
  web-wallet/src/lib/dusk/test-helpers/mockReadableStore.js
Labels: module:web-wallet

#1499 web-wallet: remove DAT file UI references
  web-wallet/CHANGELOG.md
  web-wallet/src/routes/(app)/settings/+page.svelte
  web-wallet/src/routes/(app)/settings/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(welcome)/login/+page.svelte
  web-wallet/src/routes/(welcome)/login/__tests__/__snapshots__/page.spec.js.snap
Labels: module:web-wallet

#1427 web-wallet: Add message for no contracts enabled
  web-wallet/CHANGELOG.md
  web-wallet/src/lib/contracts/contract-descriptors.js
  web-wallet/src/routes/(app)/dashboard/+page.svelte
  web-wallet/src/routes/(app)/dashboard/__tests__/__snapshots__/page.spec.js.snap
Labels: module:web-wallet

#1525 web-wallet: remove box-shadow from interactable components
  web-wallet/CHANGELOG.md
  web-wallet/src/style/main.css
Labels: module:web-wallet

#1540 web-wallet: change vitest coverage provider to istanbul
  web-wallet/package-lock.json
  web-wallet/package.json
  web-wallet/vite.config.js
Labels: module:web-wallet

#1543 web-wallet: fix duplicate border on interactable elements
  web-wallet/src/style/main.css
Labels: module:web-wallet

#1562 web-wallet: fix error message overflowing in ErrorDetails
  web-wallet/CHANGELOG.md
  web-wallet/src/style/dusk-components/error-details.css
Labels: fix:bug, module:web-wallet

#1574 explorer: app initialization
  .github/workflows/explorer_ci.yml
  .github/workflows/rusk_ci.yml
  explorer/.eslintignore
  explorer/.eslintrc.cjs
  explorer/.gitignore
  explorer/.npmrc
  explorer/.prettierrc.js
  explorer/LICENSE
  explorer/Makefile
  explorer/README.md
  explorer/jsconfig.json
  explorer/package-lock.json
  explorer/package.json
  explorer/src/app.html
  explorer/src/error.html
  explorer/src/routes/+error.svelte
  explorer/src/routes/+layout.js
  explorer/src/routes/+layout.svelte
  explorer/src/routes/+page.svelte
  explorer/src/routes/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/__tests__/page.spec.js
  explorer/src/routes/blocks/+page.svelte
  explorer/src/routes/blocks/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/blocks/__tests__/page.spec.js
  explorer/src/routes/blocks/block/+page.svelte
  explorer/src/routes/blocks/block/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/blocks/block/__tests__/page.spec.js
  explorer/src/routes/charts/+page.svelte
  explorer/src/routes/charts/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/charts/__tests__/page.spec.js
  explorer/src/routes/transactions/+page.svelte
  explorer/src/routes/transactions/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/transactions/__tests__/page.spec.js
  explorer/src/routes/transactions/transaction/+page.svelte
  explorer/src/routes/transactions/transaction/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/transactions/transaction/__tests__/page.spec.js
  explorer/static/dusk_logo.svg
  explorer/static/favicon.png
  explorer/static/favicon.svg
  explorer/static/fonts/soehne-buch.woff2
  explorer/static/fonts/soehne-kraftig.woff2
  explorer/svelte.config.js
  explorer/vite-setup.js
  explorer/vite.config.js
Labels: module:explorer

#1566 web-wallet: data load and sync UI appearing at the same time
  web-wallet/CHANGELOG.md
  web-wallet/src/lib/components/Transactions/Transactions.svelte
  web-wallet/src/lib/components/__tests__/Transactions.spec.js
  web-wallet/src/lib/containers/StakeContract/StakeContract.svelte
  web-wallet/src/routes/(app)/dashboard/+page.svelte
  web-wallet/src/routes/(app)/dashboard/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(app)/dashboard/transactions/+page.svelte
Labels: module:web-wallet

#1578 update CI workflows
  .github/workflows/rusk_ci.yml
Labels: module:explorer

#1593 explorer: scaffold page layouts
  explorer/package-lock.json
  explorer/src/routes/+layout.svelte
  explorer/src/routes/+page.svelte
  explorer/src/routes/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/blocks/+page.svelte
  explorer/src/routes/blocks/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/blocks/block/+page.svelte
  explorer/src/routes/blocks/block/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/transactions/+page.svelte
  explorer/src/routes/transactions/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/transactions/transaction/+page.svelte
  explorer/src/routes/transactions/transaction/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/style/main.css
Labels: module:explorer
