Repository dusk-network/rusk, pull requests merged in 2024-02, with the labels that each got.

#1273 Update `duskc` to version `0.2.0`
  Makefile
Labels: team:Core

#1327 Update workflows
  .github/workflows/rusk_ci.yml
  .github/workflows/webwallet_ci.yml
  web-wallet/.npmrc
  web-wallet/package-lock.json
  web-wallet/src/lib/services/wallet/__tests__/getWallet.spec.js
Labels: area:conf&build

#1342 Update workflows adding additional '*' in pattern
  .github/workflows/rusk_ci.yml
Labels: area:conf&build

#1337 web-wallet: Fix Seed Phrase words sizes
  web-wallet/CHANGELOG.md
  web-wallet/src/style/dusk-components/words.css
Labels: module:web-wallet

#1336 web-wallet: Fix error tooltip appearance
  web-wallet/CHANGELOG.md
  web-wallet/src/routes/(app)/dashboard/+layout.svelte
  web-wallet/src/style/dusk-components/tooltip.css
  web-wallet/src/style/dusk/colors.css
  web-wallet/src/style/dusk/language.css
Labels: module:web-wallet

#1344 web-wallet: Missing error handling when querying the quote API
  web-wallet/CHANGELOG.md
  web-wallet/src/lib/dusk/http/__tests__/failureToRejection.spec.js
  web-wallet/src/lib/dusk/http/failureToRejection.js
  web-wallet/src/lib/dusk/http/index.js
  web-wallet/src/routes/(app)/dashboard/+layout.js
  web-wallet/src/routes/(app)/dashboard/+page.svelte
  web-wallet/src/routes/(app)/dashboard/__tests__/layout.spec.js
Labels: module:web-wallet

#1349 Fix `make run`
  Makefile
  rusk/Makefile
Labels: area:conf&build

#1330 web-wallet: Fix Transactions table design
  web-wallet/CHANGELOG.md
  web-wallet/src/lib/components/Transactions/Transactions.svelte
  web-wallet/src/lib/components/__tests__/Transactions.spec.js
  web-wallet/src/lib/components/__tests__/__snapshots__/Transactions.spec.js.snap
  web-wallet/src/routes/(app)/dashboard/+page.svelte
  web-wallet/src/routes/(app)/dashboard/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(app)/dashboard/transactions/+page.svelte
  web-wallet/src/routes/(app)/dashboard/transactions/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(app)/dashboard/transactions/__tests__/page.spec.js
Labels: module:web-wallet

#1372 web-wallet: add gas settings validation to settings page
  web-wallet/CHANGELOG.md
  web-wallet/src/lib/components/GasControls/GasControls.svelte
  web-wallet/src/lib/components/__tests__/GasControls.spec.js
  web-wallet/src/routes/(app)/settings/+page.svelte
  web-wallet/src/routes/(app)/settings/__tests__/page.spec.js
Labels: module:web-wallet

#1378 web-wallet:refactor wallet store to receive gas price and limit
  web-wallet/CHANGELOG.md
  web-wallet/src/lib/components/GasSettings/GasSettings.svelte
  web-wallet/src/lib/components/Send/Send.svelte
  web-wallet/src/lib/components/Stake/Stake.svelte
  web-wallet/src/lib/components/__tests__/Send.spec.js
  web-wallet/src/lib/components/__tests__/Stake.spec.js
  web-wallet/src/lib/containers/StakeContract/StakeContract.svelte
  web-wallet/src/lib/containers/TransferContract/TransferContract.svelte
  web-wallet/src/lib/stores/__tests__/walletStore.spec.js
  web-wallet/src/lib/stores/stores.d.ts
  web-wallet/src/lib/stores/walletStore.js
  web-wallet/src/routes/(app)/dashboard/+page.svelte
Labels: module:web-wallet

#1387 Add rust setup and prover node info to README
  README.md
Labels: area:documentation

#1381 web-wallet: Add forced log out on inactive tabs
  web-wallet/CHANGELOG.md
  web-wallet/src/lib/navigation/__test__/logout.spec.js
  web-wallet/src/lib/navigation/index.js
  web-wallet/src/lib/navigation/logout.js
  web-wallet/src/routes/(app)/+layout.svelte
  web-wallet/src/routes/(app)/__tests__/layout.spec.js
  web-wallet/src/routes/(app)/settings/+page.svelte
  web-wallet/src/routes/(app)/settings/__tests__/page.spec.js
  web-wallet/src/routes/(welcome)/forced-logout/+page.svelte
  web-wallet/src/routes/(welcome)/forced-logout/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(welcome)/forced-logout/__tests__/page.spec.js
  web-wallet/src/routes/__tests__/page.spec.js
Labels: module:web-wallet

#1384 web-wallet: block send and stake if invalid gas settings
  web-wallet/CHANGELOG.md
  web-wallet/src/lib/components/GasControls/GasControls.svelte
  web-wallet/src/lib/components/GasSettings/GasSettings.svelte
  web-wallet/src/lib/components/Send/Send.svelte
  web-wallet/src/lib/components/Stake/Stake.svelte
  web-wallet/src/lib/components/__tests__/GasControls.spec.js
  web-wallet/src/lib/components/__tests__/GasSettings.spec.js
  web-wallet/src/lib/components/__tests__/Send.spec.js
  web-wallet/src/routes/(app)/settings/+page.svelte
Labels: module:web-wallet

#1365 web-wallet: Add Staking Warning
  web-wallet/CHANGELOG.md
  web-wallet/src/lib/components/Stake/Stake.svelte
  web-wallet/src/lib/components/__tests__/Stake.spec.js
  web-wallet/src/lib/components/__tests__/__snapshots__/Stake.spec.js.snap
  web-wallet/src/lib/containers/StakeContract/StakeContract.svelte
  web-wallet/src/lib/dusk/components/Card/Card.svelte
  web-wallet/src/lib/stores/settingsStore.js
  web-wallet/src/lib/stores/stores.d.ts
  web-wallet/src/routes/(app)/dashboard/+page.svelte
  web-wallet/src/style/dusk-components/card.css
Labels: module:web-wallet

#1399 web-wallet: Fix wizard progression on Stake flow
  web-wallet/CHANGELOG.md
  web-wallet/src/lib/components/Stake/Stake.svelte
Labels: module:web-wallet

#1375 web-wallet: Add Existing Wallet Notice
  web-wallet/CHANGELOG.md
  web-wallet/src/lib/components/ExistingWalletNotice/ExistingWalletNotice.svelte
  web-wallet/src/lib/components/index.js
  web-wallet/src/lib/wallet/initializeWallet.js
  web-wallet/src/routes/(welcome)/login/+page.svelte
  web-wallet/src/routes/(welcome)/login/__tests__/page.spec.js
  web-wallet/src/routes/(welcome)/setup/create/+page.svelte
  web-wallet/src/routes/(welcome)/setup/restore/+page.svelte
Labels: module:web-wallet

#1421 Consensus: Increase RFT & MST
  consensus/CHANGELOG.md
  consensus/src/config.rs
Labels: module:consensus

#1418 Fix restore flow allowing a user to log in with an invalid mnemonic
  web-wallet/CHANGELOG.md
  web-wallet/src/routes/(welcome)/setup/restore/MnemonicAuthenticate.svelte
  web-wallet/src/routes/(welcome)/setup/restore/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(welcome)/setup/restore/__tests__/page.spec.js
Labels: module:web-wallet

#1429 web-wallet: Remove the use of `checkValidity()` from the Send flow
  web-wallet/CHANGELOG.md
  web-wallet/src/lib/components/Send/Send.svelte
  web-wallet/src/lib/components/Stake/Stake.svelte
Labels: module:web-wallet

#1468 web-wallet: Release 0.3.0
  web-wallet/CHANGELOG.md
  web-wallet/package-lock.json
  web-wallet/package.json
Labels: module:web-wallet

#1451 web-wallet: fix localStorage gas limits update on ENV change
  web-wallet/CHANGELOG.md
  web-wallet/src/lib/components/GasControls/GasControls.svelte
  web-wallet/src/lib/components/GasSettings/GasSettings.svelte
  web-wallet/src/lib/components/Send/Send.svelte
  web-wallet/src/lib/components/Stake/Stake.svelte
  web-wallet/src/lib/components/__tests__/GasControls.spec.js
  web-wallet/src/lib/components/__tests__/GasSettings.spec.js
  web-wallet/src/lib/components/__tests__/Send.spec.js
  web-wallet/src/lib/components/__tests__/Stake.spec.js
  web-wallet/src/lib/containers/StakeContract/StakeContract.svelte
  web-wallet/src/lib/containers/TransferContract/TransferContract.svelte
  web-wallet/src/lib/contracts/__tests__/areValidGasSettings.spec.js
  web-wallet/src/lib/contracts/areValidGasSettings.js
  web-wallet/src/lib/contracts/contracts.d.ts
  web-wallet/src/lib/contracts/index.js
  web-wallet/src/lib/stores/gasStore.js
  web-wallet/src/lib/stores/index.js
  web-wallet/src/lib/stores/settingsStore.js
  web-wallet/src/lib/stores/stores.d.ts
  web-wallet/src/routes/(app)/settings/+page.svelte
Labels: module:web-wallet
