Repository dusk-network/rusk, pull requests merged in 2024-08, with the labels that each got.

#2161 explorer: add new DEVNET entry in navbar dropdown
  explorer/CHANGELOG.md
  explorer/src/lib/components/__tests__/__snapshots__/Navbar.spec.js.snap
  explorer/src/lib/stores/__tests__/appStore.spec.js
  explorer/src/lib/stores/appStore.js
  explorer/src/routes/__tests__/__snapshots__/layout.spec.js.snap
Labels: module:web-wallet

#2160 Re-define Majority and Supermajority
  consensus/src/config.rs
  consensus/src/user/committee.rs
  rusk/src/lib/node/rusk.rs
Labels: module:rusk, module:consensus

#2174 web-wallet: Support EVM-compatible wallets
  web-wallet/package-lock.json
  web-wallet/package.json
  web-wallet/src/lib/containers/MigrateContract/MigrateContract.svelte
  web-wallet/src/lib/migration/abi/erc_bep_duskABI.json
  web-wallet/src/lib/migration/abi/migrationABI.json
  web-wallet/src/lib/migration/walletConnection.js
  web-wallet/src/routes/components-showcase/+page.svelte
  web-wallet/src/routes/components-showcase/MigrateContract.svelte
Labels: module:web-wallet

#2164 web-wallet: Refactor dashboard to use routes
  web-wallet/README.md
  web-wallet/src/lib/components/ContractOperations/ContractOperations.svelte
  web-wallet/src/lib/components/__tests__/__snapshots__/ContractOperations.spec.js.snap
  web-wallet/src/lib/components/__tests__/__snapshots__/OperationResult.spec.js.snap
  web-wallet/src/lib/components/__tests__/__snapshots__/Stake.spec.js.snap
  web-wallet/src/lib/containers/Cards/Card.css
  web-wallet/src/lib/containers/Cards/IconHeadingCard.svelte
  web-wallet/src/lib/containers/StakeContract/StakeContract.svelte
  web-wallet/src/lib/containers/__tests__/__snapshots__/IconHeadingCard.spec.js.snap
  web-wallet/src/lib/containers/__tests__/__snapshots__/ToggleableCard.spec.js.snap
  web-wallet/src/lib/dusk/components/Card/Card.svelte
  web-wallet/src/lib/dusk/components/Suspense/Suspense.svelte
  web-wallet/src/lib/dusk/components/__tests__/__snapshots__/Card.spec.js.snap
  web-wallet/src/lib/dusk/components/__tests__/__snapshots__/Suspense.spec.js.snap
  web-wallet/src/lib/dusk/components/dusk.components.d.ts
  web-wallet/src/routes/(app)/dashboard/+layout.svelte
  web-wallet/src/routes/(app)/dashboard/+page.svelte
  web-wallet/src/routes/(app)/dashboard/__tests__/__snapshots__/layout.spec.js.snap
  web-wallet/src/routes/(app)/dashboard/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(app)/dashboard/__tests__/layout.spec.js
  web-wallet/src/routes/(app)/dashboard/__tests__/page.spec.js
  web-wallet/src/routes/(app)/dashboard/staking/+page.svelte
  web-wallet/src/routes/(app)/dashboard/transactions/+page.svelte
  web-wallet/src/routes/(app)/dashboard/transactions/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(app)/dashboard/transactions/__tests__/page.spec.js
  web-wallet/src/routes/(app)/dashboard/transfer/+page.svelte
  web-wallet/src/routes/(welcome)/forced-logout/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(welcome)/login/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(welcome)/setup/create/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(welcome)/setup/restore/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/components-showcase/Cards.svelte
  web-wallet/src/style/dusk-components/card.css
  web-wallet/src/style/dusk-components/suspense.css
  web-wallet/src/style/dusk/language.css
Labels: module:web-wallet

#2190 Benchmark workflow
  .github/workflows/benchmarks.yml
  .github/workflows/rusk_ci.yml
  Makefile
  node/Makefile
Labels: fix:bug, type:enhancement

#2226 Make chain ID available to contracts
  contracts/host_fn/src/lib.rs
  contracts/license/tests/license.rs
  contracts/stake/src/state.rs
  contracts/stake/tests/common/init.rs
  contracts/stake/tests/common/utils.rs
  contracts/stake/tests/stake.rs
  contracts/transfer/src/lib.rs
  contracts/transfer/src/state.rs
  contracts/transfer/tests/common/utils.rs
  contracts/transfer/tests/transfer.rs
  execution-core/src/stake.rs
  execution-core/src/transfer.rs
  execution-core/src/transfer/moonlight.rs
  execution-core/src/transfer/phoenix.rs
  execution-core/tests/serialization.rs
  node-data/src/ledger/transaction.rs
  rusk-abi/src/abi.rs
  rusk-abi/src/host.rs
  rusk-abi/src/lib.rs
  rusk-abi/tests/lib.rs
  rusk-recovery/src/state.rs
  rusk/src/bin/config/kadcast.rs
  rusk/src/bin/main.rs
  rusk/src/lib/node.rs
  rusk/src/lib/node/rusk.rs
  rusk/tests/common/state.rs
  rusk/tests/common/wallet.rs
  rusk/tests/rusk-state.rs
  rusk/tests/services/contract_deployment.rs
  test-wallet/src/imp.rs
  test-wallet/src/lib.rs
  wallet-core/src/transaction.rs
Labels: fix:vulnerability, module:rusk-abi, module:rusk, module:execution-core
