Repository dusk-network/rusk, pull requests merged in 2024-07, with the labels that each got.

#1900 add Node 22 to CI matrix
  .github/workflows/explorer_ci.yml
  .github/workflows/webwallet_ci.yml
Labels: module:web-wallet, module:explorer

#1919 explorer: implement loader
  explorer/src/lib/components/__tests__/__snapshots__/BlocksCard.spec.js.snap
  explorer/src/lib/components/__tests__/__snapshots__/DataCard.spec.js.snap
  explorer/src/lib/components/__tests__/__snapshots__/TransactionsCard.spec.js.snap
  explorer/src/lib/components/data-card/DataCard.css
  explorer/src/lib/components/data-card/DataCard.svelte
  explorer/src/lib/dusk/components/progress-bar/ProgressBar.css
  explorer/src/routes/blocks/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/blocks/block/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/transactions/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/transactions/transaction/__tests__/__snapshots__/page.spec.js.snap
Labels: module:explorer

#1655 web-wallet: Replace Card component
  web-wallet/src/lib/components/ExistingWalletNotice/ExistingWalletNotice.svelte
  web-wallet/src/lib/components/Stake/Stake.svelte
  web-wallet/src/lib/components/__tests__/__snapshots__/Stake.spec.js.snap
  web-wallet/src/lib/containers/Cards/Card.css
  web-wallet/src/lib/containers/Cards/IconHeadingCard.svelte
  web-wallet/src/lib/containers/Cards/ToggleableCard.svelte
  web-wallet/src/lib/containers/Cards/index.js
  web-wallet/src/lib/containers/__tests__/IconHeadingCard.spec.js
  web-wallet/src/lib/containers/__tests__/ToggleableCard.spec.js
  web-wallet/src/lib/containers/__tests__/__snapshots__/IconHeadingCard.spec.js.snap
  web-wallet/src/lib/containers/__tests__/__snapshots__/ToggleableCard.spec.js.snap
  web-wallet/src/lib/dusk/components/Card/Card.svelte
  web-wallet/src/lib/dusk/components/__tests__/Card.spec.js
  web-wallet/src/lib/dusk/components/__tests__/__snapshots__/Card.spec.js.snap
  web-wallet/src/lib/dusk/components/dusk.components.d.ts
  web-wallet/src/routes/(welcome)/forced-logout/+page.svelte
  web-wallet/src/routes/(welcome)/forced-logout/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(welcome)/login/+page.svelte
  web-wallet/src/routes/(welcome)/login/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(welcome)/setup/AllSet.svelte
  web-wallet/src/routes/(welcome)/setup/PasswordSetup.svelte
  web-wallet/src/routes/(welcome)/setup/TermsOfService.svelte
  web-wallet/src/routes/(welcome)/setup/create/MnemonicPhrase.svelte
  web-wallet/src/routes/(welcome)/setup/create/MnemonicPreSetup.svelte
  web-wallet/src/routes/(welcome)/setup/create/MnemonicValidate.svelte
  web-wallet/src/routes/(welcome)/setup/create/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/(welcome)/setup/restore/MnemonicAuthenticate.svelte
  web-wallet/src/routes/(welcome)/setup/restore/__tests__/__snapshots__/page.spec.js.snap
  web-wallet/src/routes/components-showcase/Cards.svelte
  web-wallet/src/style/dusk-components/card.css
Labels: module:web-wallet

#1925 Implement new hard slashing
  contracts/stake/src/lib.rs
  contracts/stake/src/state.rs
  contracts/stake/tests/events.rs
  execution-core/src/stake.rs
  rusk-recovery/src/state.rs
Labels: module:contracts

#1950 explorer: update DataCard design
  explorer/src/lib/components/__tests__/__snapshots__/BlockDetails.spec.js.snap
  explorer/src/lib/components/__tests__/__snapshots__/BlocksCard.spec.js.snap
  explorer/src/lib/components/__tests__/__snapshots__/DataCard.spec.js.snap
  explorer/src/lib/components/__tests__/__snapshots__/TransactionDetails.spec.js.snap
  explorer/src/lib/components/__tests__/__snapshots__/TransactionsCard.spec.js.snap
  explorer/src/lib/components/data-card/DataCard.css
  explorer/src/lib/components/data-card/DataCard.svelte
  explorer/src/routes/blocks/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/blocks/block/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/transactions/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/transactions/transaction/__tests__/__snapshots__/page.spec.js.snap
Labels: module:explorer

#1923 consensus: Add `faults` to Block
  consensus/Cargo.toml
  consensus/src/aggregator.rs
  consensus/src/proposal/block_generator.rs
  consensus/src/ratification/handler.rs
  consensus/src/user/cluster.rs
  consensus/src/user/committee.rs
  consensus/src/validation/handler.rs
  node-data/src/encoding.rs
  node-data/src/ledger.rs
  node-data/src/ledger/block.rs
  node-data/src/ledger/faults.rs
  node-data/src/ledger/header.rs
  node-data/src/lib.rs
  node-data/src/message.rs
  node/benches/accept.rs
  node/src/chain.rs
  node/src/chain/acceptor.rs
  node/src/chain/genesis.rs
  node/src/database.rs
  node/src/database/rocksdb.rs
  rusk/tests/common/state.rs
Labels: module:consensus

#1979 explorer: add dark theme
  explorer/src/lib/components/__tests__/__snapshots__/BlocksCard.spec.js.snap
  explorer/src/lib/components/__tests__/__snapshots__/BlocksList.spec.js.snap
  explorer/src/lib/components/__tests__/__snapshots__/BlocksTable.spec.js.snap
  explorer/src/lib/components/__tests__/__snapshots__/DataCard.spec.js.snap
  explorer/src/lib/components/__tests__/__snapshots__/Navbar.spec.js.snap
  explorer/src/lib/components/__tests__/__snapshots__/SearchNotification.spec.js.snap
  explorer/src/lib/components/__tests__/__snapshots__/TextboxAndButton.spec.js.snap
  explorer/src/lib/components/__tests__/__snapshots__/TransactionsCard.spec.js.snap
  explorer/src/lib/components/block-details/BlockDetails.css
  explorer/src/lib/components/blocks-list/BlocksList.svelte
  explorer/src/lib/components/blocks-table/BlocksTable.svelte
  explorer/src/lib/components/data-card/DataCard.svelte
  explorer/src/lib/components/footer/Footer.svelte
  explorer/src/lib/components/latest-transactions-card/LatestTransactionsCard.svelte
  explorer/src/lib/components/navbar/Navbar.css
  explorer/src/lib/components/navbar/Navbar.svelte
  explorer/src/lib/components/search-notification/SearchNotification.svelte
  explorer/src/lib/components/table/Table.css
  explorer/src/lib/components/textbox-and-button/TextboxAndButton.css
  explorer/src/lib/components/textbox-and-button/TextboxAndButton.svelte
  explorer/src/lib/components/world-map/WorldMap.svelte
  explorer/src/lib/containers/statistics-panel/StatisticsPanel.svelte
  explorer/src/lib/dusk/components/select/Select.css
  explorer/src/lib/stores/__tests__/appStore.spec.js
  explorer/src/lib/stores/appStore.js
  explorer/src/lib/stores/stores.d.ts
  explorer/src/routes/+layout.svelte
  explorer/src/routes/__tests__/__snapshots__/layout.spec.js.snap
  explorer/src/routes/__tests__/layout.spec.js
  explorer/src/routes/blocks/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/transactions/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/style/dusk/language.css
  explorer/src/style/main.css
Labels: module:explorer

#2018 explorer: Bump version to 0.1.0 and add CHANGELOG file
  explorer/CHANGELOG.md
  explorer/package.json
Labels: module:explorer

#2012 explorer: Create and implement stale data warning
  explorer/CHANGELOG.md
  explorer/src/lib/components/__tests__/StaleDataNotice.spec.js
  explorer/src/lib/components/__tests__/__snapshots__/StaleDataNotice.spec.js.snap
  explorer/src/lib/components/__tests__/__snapshots__/TransactionDetails.spec.js.snap
  explorer/src/lib/components/index.js
  explorer/src/lib/components/stale-data-notice/StaleDataNotice.svelte
  explorer/src/lib/components/transaction-details/TransactionDetails.svelte
  explorer/src/lib/containers/__tests__/__snapshots__/StatisticsPanel.spec.js.snap
  explorer/src/lib/containers/statistics-panel/StatisticsPanel.svelte
  explorer/src/lib/dusk/components/tooltip/Tooltip.svelte
  explorer/src/lib/dusk/test-helpers/index.js
  explorer/src/lib/dusk/test-helpers/mockReadableStore.js
  explorer/src/routes/__tests__/__snapshots__/page.spec.js.snap
  explorer/src/routes/transactions/transaction/__tests__/__snapshots__/page.spec.js.snap
Labels: module:explorer

#2041 explorer: update StatisticsPanel separator lines color
  explorer/CHANGELOG.md
  explorer/src/lib/containers/statistics-panel/StatisticsPanel.css
Labels: module:explorer

#2043 explorer: fix Tooltip overlap with Navbar
  explorer/src/lib/dusk/components/tooltip/Tooltip.css
Labels: module:explorer

#2004 Refactor Attestation verification
  consensus/src/commons.rs
  consensus/src/operations.rs
  consensus/src/proposal/block_generator.rs
  consensus/src/quorum/verifiers.rs
  consensus/src/user/cluster.rs
  consensus/src/validation/step.rs
  node-data/src/ledger/header.rs
  node/benches/accept.rs
  node/src/chain.rs
  node/src/chain/acceptor.rs
  node/src/chain/consensus.rs
  node/src/chain/header_validation.rs
  node/src/vm.rs
  rusk/src/lib/chain/rusk.rs
  rusk/src/lib/chain/vm.rs
Labels: module:consensus

#2045 Use incremental nonces
  contracts/stake/src/state.rs
  contracts/transfer/src/state.rs
  execution-core/src/stake.rs
  execution-core/src/transfer/transaction/moonlight.rs
Labels: module:contracts, module:execution-core
