Repository dusk-network/rusk, pull requests merged in 2024-09, with the labels that each got.

#2308 wallet-core: work on FFI
  rusk-wallet/src/dat.rs
  rusk-wallet/src/store.rs
  wallet-core/.cargo/config.toml
  wallet-core/Cargo.toml
  wallet-core/src/ffi.rs
  wallet-core/src/ffi/debug.rs
  wallet-core/src/ffi/error.rs
  wallet-core/src/ffi/panic.rs
  wallet-core/src/input.rs
  wallet-core/src/keys.rs
  wallet-core/src/lib.rs
  wallet-core/src/notes.rs
  wallet-core/tests/notes.rs
Labels: module:rusk-wallet, module:wallet-core

#2332 web-wallet: fix rounding errors in migration amount input
  web-wallet/CHANGELOG.md
  web-wallet/src/lib/components/ApproveMigration/ApproveMigration.svelte
  web-wallet/src/lib/components/ExecuteMigration/ExecuteMigration.svelte
  web-wallet/src/lib/containers/MigrateContract/MigrateContract.svelte
  web-wallet/src/lib/dusk/number/getDecimalSeparator.js
  web-wallet/src/lib/dusk/number/index.js
  web-wallet/src/lib/dusk/string/__tests__/cleanNumberString.spec.js
  web-wallet/src/lib/dusk/string/cleanNumberString.js
  web-wallet/src/lib/dusk/string/index.js
  web-wallet/src/lib/migration/migration.js
Labels: fix:bug, module:web-wallet

#2366 explorer: update display value for current and pending stake
  explorer/CHANGELOG.md
  explorer/src/lib/containers/__tests__/__snapshots__/StatisticsPanel.spec.js.snap
  explorer/src/lib/containers/statistics-panel/StatisticsPanel.css
  explorer/src/lib/containers/statistics-panel/StatisticsPanel.svelte
  explorer/src/lib/dusk/value/__tests__/createCompactFormatter.spec.js
  explorer/src/lib/dusk/value/createCompactFormatter.js
  explorer/src/routes/__tests__/__snapshots__/page.spec.js.snap
Labels: module:explorer

#2530 Replace network select with a badge
  explorer/README.md
  explorer/src/lib/components/__tests__/__snapshots__/Navbar.spec.js.snap
  explorer/src/lib/components/navbar/Navbar.css
  explorer/src/lib/components/navbar/Navbar.svelte
  explorer/src/lib/stores/__tests__/appStore.spec.js
  explorer/src/lib/stores/appStore.js
  explorer/src/lib/stores/stores.d.ts
  explorer/src/routes/__tests__/__snapshots__/layout.spec.js.snap
  explorer/vite.config.js
Labels: module:explorer
