Repository dusk-network/rusk, pull requests merged in 2024-10, with the labels that each got.

#2642 explorer: update node locations map position
  explorer/CHANGELOG.md
  explorer/package-lock.json
  explorer/package.json
  explorer/src/lib/chain-info/__tests__/addCountAndUnique.spec.js
  explorer/src/lib/chain-info/addCountAndUnique.js
  explorer/src/lib/chain-info/index.js
  explorer/src/lib/components/__tests__/WorldMap.spec.js
  explorer/src/lib/components/__tests__/__snapshots__/WorldMap.spec.js.snap
  explorer/src/lib/components/world-map/WorldMap.css
  explorer/src/lib/components/world-map/WorldMap.svelte
  explorer/src/lib/containers/__tests__/StatisticsPanel.spec.js
  explorer/src/lib/containers/__tests__/__snapshots__/StatisticsPanel.spec.js.snap
  explorer/src/lib/containers/statistics-panel/StatisticsPanel.css
  explorer/src/lib/containers/statistics-panel/StatisticsPanel.svelte
  explorer/src/lib/mock-data/api-node-locations.json
  explorer/src/lib/node-location/node-location.d.ts
  explorer/src/lib/services/__tests__/duskAPI.spec.js
  explorer/src/lib/services/duskAPI.js
  explorer/src/lib/stores/index.js
  explorer/src/lib/stores/nodeLocationStore.js
  explorer/src/lib/stores/stores.d.ts
  explorer/src/routes/+page.svelte
  explorer/src/routes/__tests__/__snapshots__/page.spec.js.snap
Labels: module:explorer

#2717 Disable future quorum propagation
  node/src/chain.rs
  node/src/chain/acceptor.rs
Labels: module:consensus, module:node

#2770 explorer: update StatisticsPanel layout
  explorer/src/lib/containers/statistics-panel/StatisticsPanel.css
Labels: module:explorer

#2808 w3sper.js: w3sper SDK Core Framework
  w3sper.js/LICENSE
  w3sper.js/README.md
  w3sper.js/deno.json
  w3sper.js/src/b58.js
  w3sper.js/src/bookkeeper.js
  w3sper.js/src/mod.js
  w3sper.js/src/network/bookmark.js
  w3sper.js/src/network/components/contracts.js
  w3sper.js/src/network/components/node.js
  w3sper.js/src/network/components/transactions.js
  w3sper.js/src/network/error.js
  w3sper.js/src/network/gas.js
  w3sper.js/src/network/graphql.js
  w3sper.js/src/network/mod.js
  w3sper.js/src/network/syncer/account.js
  w3sper.js/src/network/syncer/address.js
  w3sper.js/src/network/syncer/event.js
  w3sper.js/src/profile.js
  w3sper.js/src/protocol-driver/alloc.js
  w3sper.js/src/protocol-driver/buffer.js
  w3sper.js/src/protocol-driver/error.js
  w3sper.js/src/protocol-driver/mod.js
  w3sper.js/src/protocol-driver/none.js
  w3sper.js/src/protocol-driver/stream.js
  w3sper.js/src/rues/callable.js
  w3sper.js/src/rues/event.js
  w3sper.js/src/rues/listener.js
  w3sper.js/src/rues/mod.js
  w3sper.js/src/transaction.js
  w3sper.js/tests/assets/debug-imports.js
  w3sper.js/tests/assets/genesis.toml
  w3sper.js/tests/assets/notes.rkyv
  w3sper.js/tests/harness.js
  w3sper.js/tests/index.html
  w3sper.js/tests/network_test.js
  w3sper.js/tests/notes_test.js
  w3sper.js/tests/profile_test.js
  w3sper.js/tests/server.ts
  w3sper.js/tests/transfer_test.js
Labels: module:w3sper
